@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.header, .footer {
    background-color: #1F2937;
    padding: 0px 125px 0px 125px;
}

/* navigation bar section styles */
.header-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

/* header content section styles */
.header-box {
    display: flex;
    gap: 20px;
}

.header-content {
    align-self: center;
    flex: 1 1 0;
}

.header-img img {
    max-width: 100%;
    height: auto;
}

.header-img {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    min-width: 340px;
    min-height: 339px;
}

.header-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.header-content p {
    font-size: 18px;
    color: #E5E7EB;
}

.header-button {
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 550;
    color: #F9FAF8;
    background-color: #3882F6;
}

/* footer section styles */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 18px;
    color: #E5E7EB;
}

.footer a {
    color: #3882F6;
}

/* content section styles */
.content {
    padding: 100px 125px 100px 125px;
}

.content-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin-bottom: 75px;
}

.content-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.card {
    width: 250px;
    height: 250px;
    text-align: center;
}

.card-img img {
    border-radius: 10px;
    border: 4px solid #3882F6;
    object-fit:cover;
    object-position:50% 30%;
}

.card-text {
    margin-top: 10px;
    font-size: 18px;
}

.quote {
    background-color: #E5E7EB;
    padding: 125px 200px 125px 200px;
    text-align: center;
}

blockquote p {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
} 

blockquote footer {
    text-align: end;
    margin-right: 150px;
}

/* content textbox section styles */
.content-textbox {
    background-color: #3882F6;
    margin: 75px 125px 75px 125px;
    padding: 40px 100px 40px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #E5E7EB;
    border-radius: 10px;
    gap: 20px;
    font-size: 18px;
}

.content-textbox-title {
    font-size: 20px;
    font-weight: 900;
}

.content-textbox-button {
    padding: 10px 40px;
    border: 4px solid #F9FAF8;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 550;
    color: #F9FAF8;
    background-color: #3882F6;
}
